<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SappAI"
        tools:targetApi="31">
        <activity
            android:name=".Viral_Video_Activity"
            android:exported="false" />
        <activity
            android:name=".Story_Activity"
            android:exported="false" />
        <activity
            android:name=".Summarize_Activity"
            android:exported="false" />
        <activity
            android:name=".Words_Activity"
            android:exported="false" />
        <activity
            android:name=".ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".Fight_Activity"
            android:exported="false" />
        <activity
            android:name=".Sentence_Activity"
            android:exported="false" />
        <activity
            android:name=".Tell_Joke_Activity"
            android:exported="false" />
        <activity
            android:name=".To_Emoji_Activity"
            android:exported="false" />
        <activity
            android:name=".Diet_Plan_Activity"
            android:exported="false" />
        <activity
            android:name=".Recipe_Activity"
            android:exported="false" />
        <activity
            android:name=".Explain_Code_Activity"
            android:exported="false" />
        <activity
            android:name=".Write_Code_Activity"
            android:exported="false" />
        <activity
            android:name=".Tiktok_Activity"
            android:exported="false" />
        <activity
            android:name=".Instagram_Activity"
            android:exported="false" />
        <activity
            android:name=".Linkedin_Post_Activity"
            android:exported="false" />
        <activity
            android:name=".Into_Tweet_Activity"
            android:exported="false" />
        <activity
            android:name=".Tweet_Activity"
            android:exported="false" />
        <activity
            android:name=".Improve_Email_Activity"
            android:exported="false" />
        <activity
            android:name=".Email_Subject_Activity"
            android:exported="false" />
        <activity
            android:name=".Email_Activity"
            android:exported="false" />
        <activity
            android:name=".Speech_Activity"
            android:exported="false" />
        <activity
            android:name=".Up_Line_Activity"
            android:exported="false" />
        <activity
            android:name=".Invitation_Activity"
            android:exported="false" />
        <activity
            android:name=".Apology_Activity"
            android:exported="false" />
        <activity
            android:name=".Birthday_Activity"
            android:exported="false" />
        <activity
            android:name=".Job_Post_Activity"
            android:exported="false" />
        <activity
            android:name=".Adverisements_Activity"
            android:exported="false" />
        <activity
            android:name=".Slogan_Activity"
            android:exported="false" />
        <activity
            android:name=".Name_Generator_Activity"
            android:exported="false" />
        <activity
            android:name=".Company_Bio_Activity"
            android:exported="false" />
        <activity
            android:name=".Short_Movie_Activity"
            android:exported="false" />
        <activity
            android:name=".PoemActivity"
            android:exported="false" />
        <activity
            android:name=".LyricsActivity"
            android:exported="false" />
        <activity
            android:name=".TranslateActivity"
            android:exported="false" />
        <activity
            android:name=".ImproveActivity"
            android:exported="false" />
        <activity
            android:name=".GenarateActivity"
            android:exported="false" />
        <activity
            android:name=".Content_Write_Activity"
            android:exported="false" />
        <activity
            android:name=".Load_Screen_4_Activity"
            android:exported="false" />
        <activity
            android:name=".Load_Screen_3_Activity"
            android:exported="false" />
        <activity
            android:name=".Load_Screen_2_Activity"
            android:exported="false" />
        <activity
            android:name=".Load_Screen_1_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".RecentsOpenActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.sappai.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>